includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#^Method App\\.+::jsonSerialize\(\) return type has no value type specified in iterable type.*$#'
